/* Varaibles */
:root {
  --white: hsl(0, 0%, 100%);
  --transparent-white: rgb(255 255 255 / 79%);
  --dark-grayish-blue: hsl(217 19% 32% / 1);
  --dark-blackish-blue: hsl(219, 29%, 14%);
}

/* Global Styles */
* {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: local("../Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
  background-color: #edf2f8;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  gap: 20px;
  position: relative;
}

/* Grid Styles */
#grid {
  display: grid;
  gap: 2.6vw;
}

/* Card Styles */
#grid > .card {
  padding: 25px 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 22px;
}
#grid > .card > .header {
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
#grid > .card > .header > h1 {
  font-size: 14px;
  margin-top: 5px;
  line-height: 18.5px;
}
#grid > .card > .header > h1 > span {
  display: block;
  font-size: 12.5px;
}
#grid > .card > .header > picture > img {
  border: 3px solid var(--transparent-white);
  border-radius: 50%;
}
#grid > .card > p {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}
#grid > .card > span {
  line-height: 20px;
}
#grid > .card > p,
#grid > .card > span {
  margin-left: 5px;
  z-index: 2;
}

/* Daniel */
#grid > #daniel {
  grid-area: 1/1/2/3;
  max-width: 650px;
  background-color: hsl(263, 55%, 52%);
  position: relative;
}
#grid > #daniel span {
  color: var(--transparent-white);
}
#grid > #daniel > svg {
  position: absolute;
  top: 8px;
  right: 110px;
  z-index: 1;
  transform: scale(1.17);
}
/* Jonathan */
#grid > #jonathan {
  grid-area: 1/3/2/4;
  max-width: 300px;
  background-color: var(--dark-grayish-blue);
}
#grid > #jonathan span {
  color: var(--transparent-white);
}

/* kira */
#grid > #kira {
  grid-area: 1/4/3/5;
  max-width: 300px;
  background-color: var(--white);
  color: var(--dark-blackish-blue);
}
#grid > #kira span {
  color: var(--dark-grayish-blue);
}
/* Jeanette */
#grid > #jeanette {
  grid-area: 2/1/3/2;
  max-width: 300px;
  background-color: var(--white);
  color: var(--dark-blackish-blue);
}
#grid > #jeanette span {
  color: var(--dark-grayish-blue);
}
/* Patrick */
#grid > #patrick {
  grid-area: 2/2/3/4;
  max-width: 650px;
  background-color: var(--dark-blackish-blue);
}
#grid > #patrick span {
  color: var(--transparent-white);
}

/* Attribution */
.attribution {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  color: black;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* Skip to Main Content */
body > #skip-to-content {
  position: fixed;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: black;
  left: 0.5rem;
  top: -100px;
  z-index: 100000000000;
  transition: all 0.3s;
}
body > #skip-to-content:focus {
  transform: translateY(105px);
}

/* Media Queries */
@media (max-width: 1260px) and (min-width: 769px) {
  body {
    padding: 50px 40px;
    height: auto;
  }
  #grid {
    gap: 3vw;
    margin-bottom: 50px;
  }
  #grid > .card {
    max-width: 100% !important;
  }
  #grid > #daniel {
    grid-area: 1/1/2/3;
  }
  #grid > #daniel > svg {
    right: 40px;
  }
  #grid > #jonathan {
    grid-area: 1/3/2/4;
  }
  #grid > #jeanette {
    grid-area: 2/1/3/2;
  }
  #grid > #patrick {
    grid-area: 2/2/3/4;
  }
  #grid > #kira {
    grid-area: 3/1/4/4;
  }
}
@media (max-width: 768px) {
  body {
    padding: 30px 20px;
    height: auto;
  }
  #grid {
    gap: 3vh;
    margin-bottom: 20px;
  }
  #grid > .card {
    max-width: 100% !important;
    grid-area: auto !important;
  }
  #grid > #daniel {
    order: 1;
  }
  #grid > #jonathan {
    order: 2;
  }
  #grid > #jeanette {
    order: 3;
  }
  #grid > #patrick {
    order: 4;
  }
  #grid > #kira {
    order: 5;
  }
  #grid > #daniel > svg {
    right: 25px;
    transform: scale(0.9);
  }
  .attribution {
    font-size: 13px;
    bottom: 12px;
  }
}
